carbonnitride-optimiser-chemspeed
#Name,CompoundType,ProcessType,Min,Max,Precision
TEOA-0-5VV,liquid,sac_elec_don,0.25,5,0.25
NaOH-1M,liquid,pH,0,5,0.25
PVP-1wt,liquid,surfactant,0,5,0.25
SDS-1wt,liquid,surfactant,0,5,0.25
EosinY-1gL,liquid,dye,0,5,0.25
RhodamineB-1gL,liquid,dye,0,5,0.25

Constraints
##### Expression >=0 - avoid constants ######
5 - TEOA-0-5VV - NaOH-1M - SDS-1wt - PVP-1wt - EosinY-1gL - RhodamineB-1gL

Controls
##### Name : Value, Name : Value, ... ######
TEOA-0-5VV : 0.5 , NaOH-1M : 0 , PVP-1wt : 0 , SDS-1wt : 0 , EosinY-1gL : 1 , RhodamineB-1gL : 0 , MethyleneB-250mgL : 0
TEOA-0-5VV : 0.5 , NaOH-1M : 0 , PVP-1wt : 0 , SDS-1wt : 0 , EosinY-1gL : 1 , RhodamineB-1gL : 0 , MethyleneB-250mgL : 0

# Complements
### Name A : Name B order dependent with list of compounds above ###
