carbonnitride-optimiser
#Name,CompoundType,ProcessType,Min,Max,Precision
pt/gcn2,solid,cat,1,5,0.2
TEOA-0-5VV,liquid,sac_elec_don,0.25,5,0.25
NaCl-3M,liquid,salt,0,5,0.25
NaOH-1M,liquid,pH,0,5,0.25
PVP-1wt,liquid,surfactant,0,5,0.25
SDS-1wt,liquid,surfactant,0,5,0.25
SodiumSilicate-1wt,liquid,Hanchor,0,5,0.25
AcidRed87-1gL,liquid,dye,0,5,0.25
RhodamineB-1gL,liquid,dye,0,5,0.25
MethyleneB-250mgL,liquid,dye,0,5,0.25

Constraints
##### Expression >=0 - avoid constants ######
5 - TEOA-0-5VV - NaCl-3M - NaOH-1M - PVP-1wt - SDS-1wt - SodiumSilicate-1wt - AcidRed87-1gL - RhodamineB-1gL - MethyleneB-250mgL

Controls
##### Name : Value, Name : Value, ... ######
pt/gcn2 : 5 , TEOA-0-5VV : 0.5 , NaCl-3M : 0 , NaOH-1M : 0 , PVP-1wt : 0 , SDS-1wt : 0 , SodiumSilicate-1wt : 0 , AcidRed87-1gL : 1 , RhodamineB-1gL : 0 , MethyleneB-250mgL : 0
pt/gcn2 : 5 , TEOA-0-5VV : 0.5 , NaCl-3M : 0 , NaOH-1M : 0 , PVP-1wt : 0 , SDS-1wt : 0 , SodiumSilicate-1wt : 0 , AcidRed87-1gL : 1 , RhodamineB-1gL : 0 , MethyleneB-250mgL : 0

# Complements
### Name A : Name B order dependent with list of compounds above ###
